.pageWrapper {
  padding: 30px;
  position: relative;
}

.headingWrapper {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* grid */

.galleryContainer {
  width: 70vw;
  max-width: 1000px;
  display: grid;
  padding: 2em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.galleryContainer > div:nth-child(2n + 1) {
  grid-row-end: span 2;
}

.gallerySectionWrapper {
  display: flex;
  justify-content: center;
}

.img {
  object-fit: fill;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
}

.imgWrapper {
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
}
