@font-face {
  font-family: "Nunito-Regular";
  src: local("Nunito-Regular"),
    url(./fonts/Nunito-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Nunito-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
}

body, html {
  margin: 0
}

* {
  box-sizing: border-box;
}